@model LKMMVC_1.Models.NewsPhoto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NewsPhoto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.News.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.News.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoLocation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NewsPhotoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
