@model LKMMVC_1.Models.ManagementBiography
@{
    ViewBag.Title = "Biografijos sukūrimas";
}
@section beginningscripts
    {
    <script src="~/Content/ckeditor/ckeditor.js"></script>
}

<h2>Biografijos sukūrimas</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ManagementPersonName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ManagementPersonName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ManagementPersonName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Info, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.TextAreaFor(model => model.Info)
               @Html.ValidationMessageFor(model => model.Info, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>




@section scripts
    {
    <script>
        //RichTextEditor configuracija nustatoma kokios norime ji yra faile ckeditor_config.js
        CKEDITOR.replace('Info', {
            customConfig: '/Content/ckeditor/custom_config/ckeditor_config.js'
        });

    </script>
}
