@model LKMMVC_1.Models.ManagementBiography

@{
}

<!DOCTYPE html>

@section beginningscripts
    {
    <script src="~/Content/ckeditor/ckeditor.js"></script>
}
<div>
    <h4>ManagementBiography</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ManagementPersonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagementPersonName)
        </dd>


    </dl>

    <div class="form-group">
        @Html.LabelFor(model => model.Info, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Info)
            @* @Html.ValidationMessageFor(model => model.Info, "", new { @class = "text-danger" })*@
        </div>
    </div>
</div>

@Html.Raw(Model.Info)

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ManagementBiographyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


@section scripts
    {
    <script>
        //RichTextEditor configuracija nustatoma kokios norime ji yra faile ckeditor_config.js
        CKEDITOR.replace('Info', {
            customConfig: '/Content/ckeditor/custom_config/ckeditor_config.js'
        });

    </script>
}
